html {
    background-color: #d0a4ff;
/*    background-image: url("/home/cameron/Music/Nothing to see here this is a very safe nothing to see just look somewhere else not suspitious definatly not loads of hentia and drugs and hacker stuff/Pepe/Cactus Pepe.gif");*/
}


body {
    border-style: solid;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 600px;
    margin-right: 600px;

    background-color: #c0e9ef;
}


.profile img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}


.middleBarBoi {
    background-color: #CCB5FB;
    overflow: hidden;
}

.middleBarBoi a {
    float: left;
    color: #3a3a3a;
    text-align: center;
    padding: 14px 16px;
    
    text-decoration: none;
    font-size: 16px;
}

.middleBarBoi a:hover {
    background-color: #BBA4EA;
    color: #3a3a3a;
}


.socialLinks {
    background-color: #c0e9ef;
    border-radius: 75px;
}

.socialLinks a {
    display: block;
    padding: 16px;
    color: #3a3a3a;

    border-style: solid;
    border-radius: 75px;
    border-color: #CCB5FB;
    border-spacing: 8px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 35px;

    background-color: #CCB5FB;

    text-align: center;
}

.socialLinks a:hover {
    background-color: #BBA4EA;
}